/* keyframes animation to make the spinner rotate */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  font-size: 140px; 
}

.spinner:after {
  content: '◌'; 
  position: fixed;
  animation: spin 5s linear infinite;
}

#chart {
  border: 1px solid black; 
  margin-top: 10%;
}